@model UFCD
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">Create UFCD</h2>
            <hr />
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="code"></label>
        <input asp-for="code" class="form-control" />
        <span asp-validation-for="code" class="text-danger"/>
    </div>
    <div class="mb-3">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger" />
    </div>
    <div class="mb-3">
        <label asp-for="hours"></label>
        <input asp-for="hours" class="form-control" />
        <span asp-validation-for="hours" class="text-danger"/>
    </div>
    <div class="mb-3">
        <label asp-for="beginingDate"></label>
        <input asp-for="beginingDate" class="form-control" />
        <span asp-validation-for="beginingDate" class="text-danger"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="width:250px">Submit</button>
        <a asp-controller="UFCD" asp-action="Index" class="btn btn-secondary" style="width:250px">Return to UFCD's List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }


